<!DOCTYPE html>
<html th:replace="~{layout/baseLayout::baseLayout(~{::title}, ~{::main})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학사 정보 관리</title>
</head>
<body>
    <main>
        <h3>학생 등록</h3>

        <form th:action="@{/student/add}" method="post">
            <label for="departmentNo">학과 : </label>
            <select id="departmentNo" name="departmentNo">
                <option>----- 선택 -----</option>
                <option
                    th:each="department : ${departments}"
                    th:text="${department.name}"
                    th:value="${department.no}">
                </option>
            </select>

            <br><br>

            <label for="name">이름 : </label>
            <input type="text" id="name" name="name" placeholder="이름">

            <br><br>

            <label for="ssn">주민등록번호 : </label>
            <input type="text" id="ssn" name="ssn" maxlength="14" placeholder="주민등록번호">

            <br><br>

            <label for="address">주소 : </label>
            <input type="text" id="address" name="address" maxlength="50" placeholder="주소">

            <br><br>

            <label for="entranceDate">입학년도 : </label>
            <input type="date" id="entranceDate" name="entranceDate">

            <br><br>

            <input type="submit" value="등록">
            <input type="reset" value="초기화">
        </form>
    </main>
</body>
</html>
