<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.beyond.university.student.model.mapper.StudentMapper">
    <!--
        sql 요소
          - 중복되는 쿼리를 재사용하기 위한 sql 조각을 선언하기 위한 요소이다.
    -->
    <sql id="selectStudentSql">
        SELECT student_no,
               department_no,
               student_name,
               student_ssn,
               student_address,
               entrance_date,
               absence_yn,
               coach_professor_no
        FROM student
    </sql>

    <resultMap id="studentResultMap" type="Student">
        <id property="no" column="student_no"/>
        <result property="departmentNo" column="department_no"/>
        <result property="name" column="student_name"/>
        <result property="ssn" column="student_ssn"/>
        <result property="address" column="student_address"/>
        <result property="entranceDate" column="entrance_date"/>
        <result property="absenceYn" column="absence_yn"/>
        <result property="coachProfessorNo" column="coach_professor_no"/>
    </resultMap>

    <!--
        외부에서 전달받은 파라미터 값은 #{파라미터명}으로 가져온다.
        외부에서 전달받은 파라미터가 있으면 해당 파라미터의 타입을 지정해야 한다. (parameterType 속성)
    -->
    <select id="selectAllByDepartmentNo" parameterType="string" resultMap="studentResultMap">
        <include refid="selectStudentSql"/>
        WHERE department_no = #{dno}
    </select>

    <select id="selectStudentByNo" parameterType="string" resultMap="studentResultMap">
        <include refid="selectStudentSql"/>
        WHERE student_no = #{sno}
    </select>
    
    <insert id="insertStudent" parameterType="Student">

        <!--
            selectKey 요소는 PK를 생성하기 위한 요소이다.
                resultType 속성은 쿼리의 실행 결과 자료형이다.
                keyProperty 속성은 생성된 PK를 저장하기 위해 파라미터로 전달된 객체의 필드명을 작성한다.
                order 속성은 PK를 생성하기 위한 쿼리의 실행 시점을 결정한다.
                    BEFORE는 INSERT 쿼리 실행전에 PK를 생성하기 위한 쿼리를 실행한다.
                    AFTER는 INSERT 쿼리 실행후에 PK를 생성하기 위한 쿼리를 실행한다.
        -->

        <selectKey resultType="string" keyProperty="no" order="BEFORE">
            SELECT CONCAT('C', RPAD(FLOOR((RAND() * 100000) + 1), 6, '0'))
        </selectKey>

        INSERT INTO student (
            student_no,
            department_no,
            student_name,
            student_ssn,
            student_address,
            entrance_date,
            absence_yn,
            coach_professor_no
        ) values (
            #{no},
            #{departmentNo},
            #{name},
            #{ssn},
            #{address},
            #{entranceDate},
            'N',
            NULL
        )
    </insert>

    <update id="updateStudent" parameterType="Student">
        UPDATE student
        SET
            department_no = #{departmentNo},
            student_name = #{name},
            student_ssn = #{ssn},
            student_address = #{address},
            absence_yn = #{absenceYn}
        WHERE student_no = #{no}
    </update>
</mapper>
