<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.beyond.university.student.model.mapper.StudentMapper">
    <!--
        sql 요소
          - 중복되는 쿼리를 재사용하기 위한 sql 조각을 선언하기 위한 요소이다.
    -->
    <sql id="selectStudentSql">
        SELECT student_no,
               department_no,
               student_name,
               student_ssn,
               student_address,
               entrance_date,
               absence_yn,
               coach_professor_no
        FROM student
    </sql>

    <!-- 기본 Student 객체용 resultmap -->
    <resultMap id="studentResultMap" type="Student">
        <id property="no" column="student_no"/>
        <result property="departmentNo" column="department_no"/>
        <result property="name" column="student_name"/>
        <result property="ssn" column="student_ssn"/>
        <result property="address" column="student_address"/>
        <result property="entranceDate" column="entrance_date"/>
        <result property="absenceYn" column="absence_yn"/>
        <result property="coachProfessorNo" column="coach_professor_no"/>
    </resultMap>

    <!--
        외부에서 전달받은 파라미터 값은 #{파라미터명}으로 가져온다.
        외부에서 전달받은 파라미터가 있으면 해당 파라미터의 타입을 지정해야 한다. (parameterType 속성)
    -->
    <select id="selectAllByDepartmentNo" parameterType="string" resultMap="studentResultMap">
        <include refid="selectStudentSql"/>
        WHERE department_no = #{dno}
    </select>

    <!-- # 특정 학생 기준 학과정보 조회-->

    <resultMap id="studentResultMapWithDepartment" type="Student" extends="studentResultMap">
        <!--
        association 요소
        - 객체에 해당하는 필드에 조회 결과를 매핑할 때 사용한다.
        - select 속성은 조회하고자 하는 select 쿼리문의 ID를 입력한다.
        - column 속성은 조회하고자 하는 select 쿼리문에 파라미터를 전달한다.
        -->

        <!-- 연관관계 매핑에 필요한 ResultMap(학과정보 포함) - studentResultMap 상속 -->
        <!--
        <association property="department" javaType="Department" column="department_no"
                     select="com.beyond.university.department.model.mapper.DepartmentMapper.selectDepartmentByNo"/>
        -->
        <!-- d_가 붙은 컬럼은 따로 department Result Map을 참고해서 객체로 만든 다음 department property로 전달 -->
        <association property="department" javaType="Department" columnPrefix="d_"
                     resultMap="com.beyond.university.department.model.mapper.DepartmentMapper.departmentResultMap"/>
    </resultMap>

    <!--
    <select id="selectStudentByNo" parameterType="string" resultMap="studentResultMap">
        <include refid="selectStudentSql"/>
        WHERE student_no = #{sno}
    </select>
    -->

    <!-- 학생 상세 조회(학과 포함)-->
    <!-- 1. 쿼리문을 각각(student, department) 만들어서 하나의 ResultMap에 매핑하는 방법 - 이미 만들어진 쿼리를 재활용 가능 -->
    <!--
    <select id="selectStudentByNo" parameterType="string" resultMap="studentResultMapWithDepartment">
        <include refid="selectStudentSql"/>
        WHERE student_no = #{sno}
    </select>
    -->

    <!-- 2. 쿼리문을 하나 만들어서(JOIN을 미리 하고, 따로 저장할 정보는 prefix를 준 형태) ResultMap에서 매핑 - 쿼리가 한번만 실행됨 -->
    <select id="selectStudentByNo" parameterType="string" resultMap="studentResultMapWithDepartment">
        SELECT
            s.student_no,
            s.department_no,
            s.student_name,
            s.student_ssn,
            s.student_address,
            s.entrance_date,
            s.absence_yn,
            s.coach_professor_no,
            d.department_no AS 'd_department_no',
            d.department_name AS 'd_department_name',
            d.category AS 'd_category',
            d.open_yn AS 'd_open_yn',
            d.capacity AS 'd_capacity'
        FROM student s
        LEFT OUTER JOIN department d ON s.department_no = d.department_no
        WHERE s.student_no = #{sno}
    </select>


    <!-- # DB 수정 쿼리-->

    <!-- Insert -->
    <insert id="insertStudent" parameterType="Student">

        <!--
            selectKey 요소는 PK를 생성하기 위한 요소이다.
                resultType 속성은 쿼리의 실행 결과 자료형이다.
                keyProperty 속성은 생성된 PK를 저장하기 위해 파라미터로 전달된 객체의 필드명을 작성한다.
                order 속성은 PK를 생성하기 위한 쿼리의 실행 시점을 결정한다.
                    BEFORE는 INSERT 쿼리 실행전에 PK를 생성하기 위한 쿼리를 실행한다.
                    AFTER는 INSERT 쿼리 실행후에 PK를 생성하기 위한 쿼리를 실행한다.
        -->

        <selectKey resultType="string" keyProperty="no" order="BEFORE">
            SELECT CONCAT('C', RPAD(FLOOR((RAND() * 100000) + 1), 6, '0'))
        </selectKey>

        INSERT INTO student (
            student_no,
            department_no,
            student_name,
            student_ssn,
            student_address,
            entrance_date,
            absence_yn,
            coach_professor_no
        ) values (
            #{no},
            #{departmentNo},
            #{name},
            #{ssn},
            #{address},
            #{entranceDate},
            'N',
            NULL
        )
    </insert>

    <!-- Update -->
    <update id="updateStudent" parameterType="Student">
        UPDATE student
        SET
            department_no = #{departmentNo},
            student_name = #{name},
            student_ssn = #{ssn},
            student_address = #{address},
            absence_yn = #{absenceYn}
        WHERE student_no = #{no}
    </update>

    <!-- Delete -->
    <delete id="deleteStudent" parameterType="string">
        DELETE
        FROM student
        WHERE student_no = #{sno}
    </delete>

</mapper>
