<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>학사 정보 관리</title>
    </head>
    <body>
        <h1>로그인</h1>
        <form th:action="@{/login}" method="post">


            <label for="username">아이디: </label>
            <input type="text" id="username" name="username" required>
            <br>

            <label for="password">비밀번호: </label>
            <input type="password" id="password" name="password" required>
            <br>

            <label for="remember-me">로그인 유지: </label>
            <input type="checkbox" id="remember-me" name="remember-me">
            <br>

            <span style="color: red;" th:text="${param.error}"></span>

            <br><br>
            <input type="submit" value="로그인">
            <input type="button" value="회원가입">
        </form>

    </body>
</html>
