<!DOCTYPE html>
<html th:replace="~{layout/baseLayout::baseLayout(~{::title}, ~{::main})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹 / home</title>
</head>
<body>
    <main>
        <h2>1. 학생 조회</h2>
        <a th:href="@{/student/search}">View Details</a>

        <!--
        <h2>스프링 부트 웹</h2>
        <h3 th:text="${message}">Hello World</h3>
        <h3 th:if="${message != null}" th:text="${message}">Hello World</h3>

        <input type="text" th:if="${message != null}" th:value="${message}">

        <ul th:if="${names != null}">
            <li th:each="name : ${names}" th:text="${name}"></li>
        </ul>
        -->
        <!--
        <header th:replace="~{layout/fragments/common :: header}">home.html</header>
        <div th:insert="~{layout/fragments/common :: footer}"></div>
        -->
    </main>

</body>
</html>
