<!DOCTYPE html>
<html th:replace="~{layout/baseLayout::baseLayout(~{::title}, ~{::main})}" lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>학사 정보 관리</title>
    </head>
    <body>
        <main>

            <h2>학사관리</h2>

            <button type="button"
                    th:onclick="|location.href='@{/student/search}'|"
                    style="cursor: pointer;">
                학생 조회
            </button>

            <button type="button"
                    th:onclick="|location.href='@{/student/add}'|"
                    style="cursor: pointer;">
                학생 등록
            </button>
            <br>
            <br>
            <!-- URL 접근 권한이 있는 경우만 보여주는 경우 -->
            <a th:href="@{/admin/info}" sec:authorize-url="/admin/info">관리자 페이지</a>
            <a th:href="@{/user/info}" sec:authorize-url="/user/info">사용자 페이지</a>
        </main>

    </body>
</html>
