<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header">
        <h1><a th:href="@{/}" style="color: black; text-decoration: none">학사 정보 관리</a></h1>
        <form th:action="@{/logout}" method="post">
            <!-- 사실 th:action으로 경로 지정할 경우 알아서 생성되긴 함-->
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
            <input type="button" value="내 정보 확인">
            <input type="submit" value="로그아웃">
        </form>
    </header>

    <footer th:fragment="footer">
        <p>CopyRight@HONG hong123@beyond.com</p>
    </footer>
</body>
</html>
